.row.border.rounded-3{
    background-color: rgb(55, 55, 55); 
    padding: 15px; 
    margin-bottom: 15px; 
    min-height: 220px;
}

.row.border.rounded-3.border-warning {
    background-color: rgb(25, 25, 25);
    border-color: rgb(253, 126, 20);
}

.col.header{
    font-size: 26px;
    
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}

.col.header.consoleExclusive{
    color:rgb(255, 0, 0);
}

.col.data{
    font-size: 20px;
}
